.authroutes{
  display: flex;
  align-items: center;
  flex-direction: row;
  color: white;
  background-image: url(https://i.pinimg.com/564x/49/2d/92/492d9287ba982241e308cc0aaa0cc9b9.jpg);
}

.parrafo{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}