* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar{
  background-color: #9ea0a2;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Navbar__Routes{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Navbar__Routes > li{
  list-style-type: none;
  flex: 1;
}

button{
  background-color: transparent;
  border: none;
}
.Navbar__Menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

