* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-track{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 250px;
  height: 375px;
  gap: 5px;
}